
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
#torrentmodal > div > div {
  width:530px;
}

#app {
    display: flex;
    width: 100%;
}

.sidebar-spacer {
  margin-left: 250px;
}
/*
#sidebar {
    width: 250px;
    position: fixed;
    top: 70px;
    bottom:10px;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    z-index: 999;
    transition: all 0.9s;
}
*/

.sgfText {
  padding: 2px;
  border-radius: 5px;
}

[v-cloak] {
  display: none;
}

.customchart {
  width:510px;
  div {
    width:505px; display: inline;
   }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.hide-on-hover > a:hover{
  div {
    display:none;
  }
}
.max-h-90 {
  max-height: 90px;
}

.max-h-30 {
  max-height: 30px;
}
