
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.customchart {
  width:510px;
  div {
    width:505px; display: inline;
   }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.hide-on-hover > a:hover{
  div {
    display:none;
  }
}
.max-h-90 {
  max-height: 90px;
}

.max-h-30 {
  max-height: 30px;
}
